* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.header {
    height: 550px;
    background: radial-gradient(#fff, #ffd6d6);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #555;
}



nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-navbar-icon {
    width: 40px;
    height: 40px;
}

.mobile-navbar-icon[name="close-outline"] {
    display: none;
}

.header .row {
    margin-top: 70px;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

p {
    color: #555;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    float: right;
    margin-top: -100px;
}

.work {
    margin: 70px 0;
}

.work h1 {
    text-align: center;
    color: #223d42;
}

.work p {
    padding: 30px;
}

.text-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

p .para {
    font-style: oblique;
    color: #050c0e;
    font-size: 25px;
}

p .para1 {
    text-align: center;
}

.dev {
    padding-top: 30px;
}

.dev h1 {
    text-align: center;
    color: #223d42;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    margin-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.dev .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 51%);
    cursor: pointer;
    transition: transform 0.5s;
}

.dev .col-3:hover {
    transform: translateY(-10px);
}

.dev .col-3 img {
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
}

.proj h1 {
    text-align: center;
    margin-top: 80px;
    color: #223d42;
}

.pcontainer {
    max-width: 1080px;
    margin: auto;
    margin-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
}

/* footer */

.footer {
    background: #010201;
    color: #8a8a8a;
    margin-top: 500px;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-1 p {
    text-align: center;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* 980 */
@media(max-width: 980px) {
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        border: 3px solid #212529;
        color: #212529;
    }

    .header {
        position: relative;
    }

    #MenuItems {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: #e7f5ff;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbars li{
        margin: 20px;
        font-size: 30px;
    }

    .active #MenuItems{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-navbar-icon[name="close-outline"]{
        display: block;
    }

    .active .mobile-navbar-btn .mobile-navbar-icon[name="menu-outline"]{
        display: none;
    }
}


/* Show the hamburger icon for screens with width less than or equal to 765px */
/* @media only screen and (max-width: 765px) {
    #MenuItems {
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column; */
/* Set the flex-direction to column */
/* }

    #HamburgerIcon {
        display: block;
        cursor: pointer;
    }

    #HamburgerIcon div {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px;
    }

    #MenuItems li {
        margin: 10px 0; */
/* Add some margin between the menu items */
/* }

    #HamburgerBox {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 999;
        text-align: center;
    }

    #HamburgerBox ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #HamburgerBox ul li {
        margin-top: 20px;
    }

    #HamburgerBox ul li a {
        display: block;
        font-size: 24px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
    }
} */

#HamburgerBox.open {
    display: block;
}


@media (max-width: 1017px) {
    .col-2 img {
        display: none;
    }
}

@media screen and (max-width: 959px) {
    .col-2 h1 {
        font-size: 32px;
        margin: -22px 0;
        margin-left: -7px;
    }

    .col-2 p {
        margin: 25px;
        margin-left: 0px;
    }
}